.HomeBody{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 100px;
    padding-left: 10%;
}

.ArticleLink{
    margin-top: 20px;
}

.ArticleLink a{
    text-decoration: underline;
    color: #202020;
    font-size: 1.4em;
}

@media only screen
and (max-width : 1080px){
    .HomeBody{
        width: 90%;
        margin-top: 80px;
    }
}
