.HomeBody{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 20px;
    padding-left: 60px;
    width: 60%;
    padding-bottom: 100px;
}

.HomeBody h1{
    font-size: 1.8em;
    color: #383838;
    margin-top: 40px;
    margin-bottom: 20px;
}

.ArticleSession{
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.ArticleDetails a{
    color: #202020;
    font-size: 1.4em;
    text-decoration: underline;
}

.ArticleIcon {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10px ;
}

.ArticleLink{
    margin-top: 30px;
}

.ArticleLink a{
    font-size: 1.4em;
    color: #333;
    text-decoration: none;
}

@media only screen
and (max-width : 1080px){
    .HomeBody{
        width: 90%;
        margin-top: 80px;
    }
}
