.HomeBody{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 20px;
    padding-left: 60px;
    width: 80%;
}

.HomeBody h1{
    font-size: 1.8em;
    color: #383838;
    margin-top: 80px;
    margin-bottom: 20px;
}

.ArticleLink{
    width: 100%;
    margin-top: 20px;
}

.ArticleLink a{
    color: #202020;
    font-size: 1.4em;
    text-decoration: underline;
}

@media only screen
and (max-width : 1080px){
    .HomeBody{
        width: 90%;
        margin-top: 80px;
    }
}
